@charset "UTF-8";

body{
    background-color: aquamarine;
    margin: 0 auto;
	max-width: 960px;
}

h1{
    text-align: center;
}

#high_but{
    height: 30px;
}

#low_but{
    height: 30px;
}

input{
    height: 30px;
}